<!DOCTYPE HTML>

<html lang="en">
	<head>
	<title> Sinatra guestbook </title>	
	</head>

<body>
	<div class="center hero-unit">
<h1>
	Sinatra guestbook
</h1>
<h2>
	You can leave your message here
</h2><br/>
</div> 
<%= @posts %>
<a href="/clear">Clear guestbook</a><br/><br/>
<form action="/" method="post">
	Author: <br/><input type="text"  name="author"/></br/>
	Content:<br/><textarea type="text" col="40" rows="5" name="content"></textarea><br/>
	<br/>
	<input type="submit" value="Send"/><br/>
	<input type= "reset" value= "Clear fileds"/>
</form>
</body>
</html>