<!DOCTYPE HTML>

<html>
<head>
<title>Title guest book </title>	
</head>

<body>
<h2>
	Sinatra guestbook
</h2>
<%= @posts %>

<form action=" " method="post">
<legend>Leave your content here</legend><br/>
Author: <br/><input type="text"  name="author"/></br/>
Content:<br/><textarea type="text" col="40" rows="5" name="content"></textarea><br/>
<br/>
<input type="submit" text="Send"/>
</form>

</body>
</html>